body {
font-family: 'Montserrat', sans-serif;
}

.warning {
    border-style: dotted;
    color: red;
}

.success {
    border-style: solid;
    color: green;
}

/* base.html */

.logout {
border:3px solid black;
border-radius:10px;
padding:10px;
}

.logout-drop ul {
position:absolute;
height: 0px;
overflow: hidden;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.logout-drop:hover ul {
height: 100px;
background-color:white;
}

.navbar {
width:80%;
margin:auto;
border: 1px solid black;
text-transform: uppercase;
display:flex;
justify-content: space-between;
}

.navbar > div {
margin:30px;
}

.navbar-drop {
display:flex;
}

.searchbar {
border: 1px solid red;
}

.link-wrapper {
margin-right: 20px;
}

a:link, a:visited {
text-decoration: none;
color:black;
}

a:hover {
text-decoration: none;
color:black;
border-bottom: 1px solid black;
}

.container {
width:80%;
margin: auto;
border: 1px red solid;
}

.category {
border: 1px solid black;
}

.content {
border: 1px blue solid;
}

.category-text {
}

.category-text h2 {
}

footer{
padding:50px;
width:80%;
margin:auto;
}

.new {
border:1px solid black;
}

.old {
border:1px solid black;
}

.debug {
opacity:0.3;
}

/* index.html */
.news-container {
display:grid;
grid-template-columns: 1fr 1fr;
}

/* auction.html */

.auction-details {
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.auction-detail {
position:relative;
border: 1px solid black;
}

.pilt > img {
height: 100%;
width: 100%;

/* background-size: cover;
background-position: center;
background-repeat: no-repeat; */
}

.pilt-info {
position:absolute;
display:block;
margin-left: auto;
margin-right: auto;
top:10px;
/* text-align:center; */
}

img {
display: block;
margin-left: auto;
margin-right: auto;
}