* {
    margin: 0;
    padding: 0;
}

.join-now {
    position: fixed;
    height: 50px;
    width: 200px;
    color: #ecf0f3;
    font-weight: 600;
    background-color: tomato;
    z-index: 10;
    bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    left:50%;
    transform: translateX(-50%);
    border-radius: 25px;
    /* ei toimi veel */
    animation-name: example;
    animation-delay: 10s;
    animation-fill-mode: forwards;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

.make-user:hover {
    transform: translateX(-50%) scale(1.02);
}
/*
@keyframes bounce {
    0% {transform: translateX(0px);}
    50% {transform: translateX(10px);}
    100% {transform: translateX(0px);}
}
*/

auction-list-items {

}
.auction-list-items ul, a {
    list-style-type: none;
    color: inherit;
    text-decoration: none;
}


body {
    font-family: 'Montserrat', sans-serif;
    /*background: #333138;*/
    background: #ecf0f3;
    /*color: #555;*/
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.error-box {
    display: flex;
    justify-content: start;
    /* align-items: stretch; */
    grid-column: 1/3;
    border: 1px solid black;

}

.messages {
    list-style-type: none;
}

/* views rida 146 */
.warning {
    margin: 5px 0px;
    width: 100%;
    color: #cc0033;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 1px 1px rgba(250,250,250,.3);
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    padding: 10px 30px;
    border-radius: 5px;
    animation-name: example;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.success {
    margin: 5px 0px;
    width: 100%;
    color: green;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 1px 1px rgba(250,250,250,.3);
    background-color: rgb(236, 255, 216);
    border: 1px solid green;
    padding: 10px 30px;
    border-radius: 5px;
    animation-name: example;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes example {
    0%   {opacity:0;}
    100%   {opacity:1;}
}

/* base.html */

.banner {
    position: relative;
    /*background-image: url("https://images.unsplash.com/photo-1563013544-824ae1b704d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");*/
    background-color: #ecf0f3;
    width: 100%;
    height: 500px;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid green;*/
}

.banner img {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner h2 {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ecf0f3;
    /*background: white;*/
    font-size: 15vw;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    line-height: 25vh;
    letter-spacing: -3.7rem;
    mix-blend-mode: lighten;
}

.index-drop {
    /*display: flex;*/

}

.index-drop a, a:hover, a:visited {
    color:black;
    text-decoration: none;
}

.logo {
}

.logo-text {
    font-size: 30px;
    padding: 12px;
}

.navbar {
    position: fixed;
    display: flex;
    width: 70%;
    top: 0px;
    justify-content: space-between;
    z-index: 999;
    background: #ecf0f3;
    /*background: none;*/
    opacity: 0.98;
    /*border-bottom: 1px solid black;*/
}

.navbar > div {
    margin: 10px 5px;
    /*border: 1px solid red;*/
}

.searchbar {
    display: flex;
    align-items: center;
   /* border: 1px solid red;*/
}

.formaalsuskuubis {
    background: lightgrey;
    border-radius: 25px;
    /*position:relative;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),
                0 -4px 8px 0 rgba(255, 255, 255, 0.2), 0 -6px 20px 0 rgba(255, 255, 255, 0.19);
}

.fas {
    color:grey;
    padding-left: 10px;
    padding-right: 5px;
}

.search-btn {
    color: #ecf0f3;
    padding: 13px 25px;
    border: none;
    border-left: 1px solid #ecf0f3;
    background: none;
    width: 50;
    font-weight: 900;
    cursor:pointer;
    transition: 0.3s;
}

.search-btn:hover {
    transition: 0.3s;
    /*opacity:0.5;*/
    outline: none;
    color: tomato;
}

.link-wrapper {
    background-image: linear-gradient(to bottom right, #AF4D98, #9DF7E5);
    padding: 15px 25px;
    border-radius: 25px;
}

.link-wrapper > img {
    position: absolute;
    top: 0px;
    left: 0px;
}


.container {
    margin-top: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px red solid;*/
}

.category {
    /*border: 1px solid black;*/
}

li::marker {
    content: none;
  }

.form-style {
    /* border: 10px blue solid; */
    margin-top:15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    box-shadow: 13px 13px 20px rgb(180, 180, 180, 0.5),
                -13px -13px 20px rgb(255, 255, 255, 0.5);
}

.form-style > * {
    width: 70%;
    margin: 0.2em;

}

.form-style > input {
    transition: 0.3s ease-in-out;
    height: 2rem;
    margin-bottom: 1.5rem;
    padding: 0.5em 1.5em;
    background-color: #ecf0f3;
    outline: none;
    border: none;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px rgb(180, 180, 180, 0.3),
                    inset -8px -8px 8px rgb(255, 255, 255, 0.3),
                    0px 0px 0px rgb(180, 180, 180, 0.3),
                    0px 0px 0px rgb(255, 255, 255, 0.3);

}

.form-style > input:focus {
    transform: scale(1.02);
    background: #f0f3f5;
    box-shadow: inset 0 0 0 rgb(180, 180, 180, 0.3),
                    inset 0 0 0 rgb(255, 255, 255, 0.3),
                    8px 8px 8px rgb(180, 180, 180, 0.3),
                    -8px -8px 8px rgb(255, 255, 255, 0.3);
}

.form-style > textarea {
    height: 10rem;
    background-color: #ecf0f3;
    resize: none;
    border: none;
    /*border: 1px solid lightgrey;*/
    transition: all 0.3s ease-in-out;
    padding: 1em 1.5em;
    outline: none;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px rgb(180, 180, 180, 0.3),
                inset -8px -8px 8px rgb(255, 255, 255, 0.3),
                0px 0px 0px rgb(180, 180, 180, 0.3),
                0px 0px 0px rgb(255, 255, 255, 0.3);
}

.form-style > textarea:focus {
    outline: none;
    border: none;
    box-shadow: inset 0 0 0 rgb(180, 180, 180, 0.3),
                inset 0 0 0 rgb(255, 255, 255, 0.3),
                8px 8px 8px rgb(180, 180, 180, 0.3),
                -8px -8px 8px rgb(255, 255, 255, 0.3);
    transform: scale(1.02);
    background: #f0f3f5;
}

.form-style > output {
    float: left;
}

.form-style > label {
    margin: 1rem 1rem 1rem 0;
}

.form-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1px solid #000;
    outline: none;
    border-radius: 0.12em;
    margin: 0.8em 0.8em 0.8em 0;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: 300;
    font-family:'Roboto',sans-serif;
    color: black;
    text-align: center;
    transition: all 0.2s;
    width: 10em;
    height: 2em;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-button:hover {
    color:#000000;
    background-color:#FFFFFF;
}

.form-button:active {
    background-color:#FFFFFF;
    outline: none;
    transform: translateY(1px);
}

.form-button:focus {
    outline: none;
}


.toggle {
    display: none;
}

.toggle-input {
    display: none;
}


.toggle-label {
    cursor: pointer;
}

.toggle:checked ~ div {
    display: block;
}

footer {
    padding-top: 50px;
    width: 70%;
    margin: auto;
    text-align: center;
}

.footer-box {
    margin: 50px;
}

/* CATEGORY VER.1 */
.category-container {
    /*display: grid;
    grid-template-columns: repeat(6, 1fr)*/
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /*border: 1px solid red;*/
}

.boxx {
    padding-top: 20px;
    padding-bottom: 20px;
    /*border: 1px solid green;*/
}

.category-link:active, .category-link:link, .category-link:visited, .category-link:hover {
    text-decoration: none;
    font-weight: 900;
    font-size: 1.5vw;
    cursor: pointer;
}

/* LATEST ENDING BOX */
.new-container{
    /*border: 1px solid green;*/
    margin-bottom: 20px;
}

.new-container h2 {
    margin: 10px 10px 10px 0px;
}

.new {
    /*border:1px solid black;*/
    display: grid;
    grid-template-columns: repeat(6, 1fr)
}

.box {
    display: flex;
	position: relative;
	margin: 10px;
	padding: 0;
	transition: 0.3s;
    /*border: 1px solid blue;*/
    border-radius: 10px;
}

.box img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.box-overlay {
    position: absolute;
	overflow: hidden;
	width: 100%;
	height: 0;
	background-color: black;
	transition: 0.3s;
	border-radius: 10px;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.6;
}

.box:hover .box-overlay {
	height: 100%;
}

.box-text {
    position: absolute;
	color: white;
	z-index: 10;
	top: 50%;
	left: 10px;
	/*transform: translate(-50%, -50%);*/
	text-align: left;
}

.box-text p {
    font-size: 0.8vw;
}

.box:hover {
	transform: scale(1.1);
}
.debug {
    opacity: 0.5;
    position: relative;
}

/* index.html */

.news-container {
}

/* auction.html */

/* GRID work in progress */
.auction-grid {
    display: grid;
    /*grid-row-gap: 1rem;*/
    grid-gap: 1rem;
    /*grid-template-columns: repeat(6,1fr);*/
    /*grid-template-columns: repeat(auto-fill, minmax(200px,1fr));*/
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
	/*border: 1px solid black;*/
	padding: 10px;
}
/* i dont know man
@media (max-width:1440px) {
    .auction-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

*/
/*.auction-container*/ h2 {
    font-size: calc(0.8rem + 1vw);
    margin: 10px 10px 10px 0px;
}

.img-container {
    display: flex;
	position: relative;
	/*transform: scale(1);*/
	/*margin: 10px;*/
	padding: 0;
	transition: 0.3s;
    /*width: 100%;
    height: 100%;*/
    border-radius: 10px;
    border: 1px solid red;
    background-color:green;
}

.img-container-background {
    width:200px;
    height:200px;
    max-width:200px;
    background:red;
    background-position: center;
    background-size: cover;
    border-radius:10px;
    transition: all .3s;
}

.img-overlay {
	position: absolute;
	overflow: hidden;
	width: auto;
	height: 0;
	background-color: black;
	transition: 0.3s;
	border-radius: 10px;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.6;
}

.img-container-background:hover .img-overlay {
	height: 100%;
}

.img-text {
	position:absolute;
	color: white;
	z-index:2;
	top: 5%;
	left: 10px;
	/*transform: translate(-50%, -50%);*/
	text-align: left;
}

.img-text p {
    font-size: 1rem;
}

/*.img-container:hover*/ .img-container-background:hover{
	transform: scale(1.1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* input CSS */

.searchbar input[type=text] {
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    border: none;
    width: 20vw;
    background-color: lightgrey;
    color:gray;
    /*border-radius: 25px;*/
    /*border: 1px solid red;*/
    transition: 0.3s;
}

.searchbar input[type=text]:focus {
    /*background-color: lightgrey;*/
    outline: none;
}

/* -----------------TEINE BURGER--------------------  */

.link {
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
}

#menuToggle {
    display: block;
    position: relative;
    /*top: 50px;*/
    /*left: 50px;*/

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    /*transition: color 0.3s ease;*/
    transition: 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
    /*transform: translateY(5px);*/
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    /*background: #cdcdcd;*/
    background: #232323;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);   
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    /*width: 300px;*/
    width: 300px;
    margin: -165px 0 0 38px;
    /*padding: 50px;*/
    padding: calc(1rem + 1vw);
    padding-top: 125px;
    height: 100vh;
    /*background: #ededed;*/
    /*background: #ecf0f3;*/
    background: none;
    list-style: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}


#menu li {
    padding: 10px 0;
    /*font-size: 22px;*/
    font-size: calc(0.5rem + 1vw);
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: none;    
}

/*------Details.html-------*/

.detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.detail-pic-container {
    display:grid;
    grid-template-row: auto 1fr;
    /*border: 1px solid black;*/
}

.detail-pic-container img {

}

.detail-pic-row {
    display: flex;
    /*width: 500px;*/
    width: 100%;
    /*height: auto;*/
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
}

#detail-your-bid {
    color: red;
    font-size: 1.5em
}

#detail-highest-bid {
    color: red;
    text-emphasis: bold;
    font-size: 2em;
}

.left-to-right {
    margin-right: 15px;
    opacity:0.6;
    /*transform: rotate(-10deg);*/
    transition: 0.3s;
    /*display: inline-block;*/
    /*border: 1px solid black;*/
}

.left-to-right:hover {
    /*transform: scale(1.5);*/
    opacity: 1;
    z-index: 1;
}

.detail-pic-main {
    padding-right: 1rem;
    /*border: 1px solid green;*/
}

.detail-pic-main img{
    /*width: 500px;*/
    width: 100%;
    height: auto;
}

.detail-info-container {
    /* word-break: normal|break-all|keep-all|break-word|initial|inherit; */
    word-break: break-word;
    text-align: justify;
    text-justify: inter-word;
    /*border: 1px solid red;*/
}

.detail-info-container h2 {

}

.detail-info-container small {
    margin:0px;
}

.detail-info-container p {
    font-weight:600;
    margin-bottom: 20px;

}

.detail-info-container p:first-of-type {
    font-weight:600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.clock {
    display: inline;
}

.not-active {
    /*border: 1px solid black;*/
}

/*--------------CREATE.html------------*/

.create-div {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 430px;
    height: 700px;
    padding: 35px;
    border-radius: 40px;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
}

.create-input {
    border: 5px solid red;
    border-radius: 25px;
    /*box-shadow: 8px 8px 8px #cbced1,
                -8px -8px -8px #ffffff;*/
}


.field-input {

}



.formal {
    width:100%;
    padding: 5px;
}

.formal input{
    border: none;
    outline: none;
    background: none;
    color: #555;
    padding: 20px 10px 20px 5px;
    /*border: 1px solid red;*/
}