body {
font-family: 'Montserrat', sans-serif;
}

.warning {
    border-style: dotted;
    color: red;
}

.success {
    border-style: solid;
    color: green;
}

/* base.html */

.banner > h2 {
position:absolute;
top:40%;
margin:auto;
text-align:center;
}

.banner > img {
width:100%;
height:400px;
object-fit: cover;
object-position: 50% 25%;
}

.logout {
border:3px solid black;
border-radius:20px;
padding:10px;
}

.logout-drop ul {
list-style-type:none;
height: 0px;
position:absolute;
overflow: hidden;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
z-index:1;
}

.logout-drop:hover ul {
height: auto;
background-color:white;
z-index:1;
border: 1px solid black;
padding:10px;
width:125px;
}

.navbar {
position:fixed;
display:flex;
width:80%;
top:0px;
margin-left:10%;
margin-right:10%;
border: 1px solid black;
text-transform: uppercase;
justify-content: space-between;
z-index:1;
background-color:white;
}

.navbar > div {
margin:30px;
}

.navbar-drop {
display:flex;
}

.searchbar {
border: 1px solid red;
}

.link-wrapper {
margin-right: 20px;
}


a:link, a:visited {
text-decoration: none;
color:black;
}

a:hover {
text-decoration: none;
color:black;
border-bottom: 1px solid black;
}

.container {
margin-top:180px;
width:80%;
margin-left:10%;
margin-right:10%;
border: 1px red solid;
}

.category {
border: 1px solid black;
}

.content {
border: 1px blue solid;
}

.category-text {
}

.category-text h2 {
}

footer {
padding:50px;
width:80%;
margin:auto;
}

.new {
border:1px solid black;
}

.old {
border:1px solid black;
}

.debug {
opacity:0.3;
}

/* index.html */

.news-container {
display:grid;
grid-template-columns: 1fr 1fr;
}

/* auction.html */

.auction-wrapper {

}

.auction-details {
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.auction-detail {
position:relative;
border: 1px solid black;
}

.pilt > img {
height: 100%;
width: 100%;

/* background-size: cover;
background-position: center;
background-repeat: no-repeat; */
}

.pilt-info {
position:absolute;
display:block;
margin-left: auto;
margin-right: auto;
top:10px;
text-align:center;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
}