{% extends "auction/base.html" %}
{% block content %}
    {% if auctions_list %}
        <div class="auction-details">
        {% for auction in auctions_list %}
            <div class="auction-detail">
            <a href="{% url 'auction:detail' auction.id %}">
                <li>Author: {{auction.author}}</li>
                <li>Title: {{auction.title}}</li>
                <li>Description: {{auction.description}}</li>
                <li>Auction starting value: {{auction.min_value}}</li>
                <li>Auction duration {{auction.total_auction_duration}}</li>
                {% if auction.is_active %}
                    <li>{% widthratio auction.seconds_remaining 60 1 %} minutes left</li>
                    <!-- <li>Time remaining {{auction.seconds_remaining|floatformat:"0"}}</li> -->
                {% else %}
                    <p>Auction has ended!</p>
                {% endif %}
            </a>
            </div>
<!--        <br>-->
        {% endfor %}
        </div>
    {% else %}
        <h1>There are no auctions available</h1>
    {% endif %}
{% endblock content %}