

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'auction/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
  </head>
  <body>
  <header class="navbar">

    <div class="link">
      <a href="{% url 'auction:index' %}">index</a>
      <a href="{% url 'auction:auctions' %}">auctions</a>
      {% if user.is_authenticated %}
        <a href="{% url 'auction:create' %}">create</a>
        <a href="{% url 'auction:my_auctions' %}">my auctions</a>
        <a href="{% url 'auction:my_bids' %}">my bids</a>
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>

    <div class="searchbar">
      <form action="{% url 'auction:searchbar' %}" method="GET" >
        <input type="text" placeholder="Searchbar" name="search" >
        <button type="submit">Search</button>
      </form>
    </div>
  </header>

  <div class="containerr">

    <div class="category">
      <div class="category-text">
        <h2>Category</h2>
        <a href="#">category a</a><br>
        <a href="#">category b</a><br>
        <a href="#">category c</a><br>
        <a href="#">category d</a><br>
      </div>
    </div>

    <div class="content">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
  </body>
  <footer>
    <p>Created by:</p>
    <p>Martin P. & Rauno K.</p>
  </footer>
</html>