<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AuctionHAUSS</title>
    {% load static %}
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'auction/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'auction/mainn.css' %}">
<!--    <link rel="stylesheet" type="text/css" href="{% static 'auction/sliders.css' %}">-->
  </head>


  <body>

    <div class="navbar">
       <div class="logo-wrapper">
           <a href="{% url 'auction:index' %}">
               <div class="logo-text">
                   <h2>AuctionHAUSS</h2>
               </div>
           </a>
      </div>

      <div class="searchbar">
        <form action="{% url 'auction:searchbar' %}" method="GET" class="formaalsuskuubis">

            <button type="submit" class="search-btn"><i id="fas" class="fas fa-search"></i></button>
            <input id="searchfield" type="text" placeholder="Searchbar" name="search" >

        </form>
      </div>

<!--      buger           -->

      <div class="link">
        <nav role="navigation">
          {% if user.is_authenticated %}
            <div class="signin-container">
                <div class="signin">
                    <i id="far" class="fas fa-user-circle"></i>
                    Welcome, <a href="{% url 'auction:profile' %}">{{ user }}</a>
                </div>

                <div class="menuToggle">
                    <!-- BURGER -->
                    <input type="checkbox" />

                    <span></span>
                    <span></span>
                    <span></span>

                    <ul class="menu">
                        <a href="{% url 'auction:create' %}"><li>Create</li></a>
                        <a href="{% url 'auction:my_auctions' %}"><li>My auctions</li></a>
                        <a href="{% url 'auction:my_bids' %}"><li>My bids</li></a>
                        <a href="{% url 'auction:profile' %}"><li>Profile</li></a>
                        <a href="#"><li>About</li></a>
                        <a href="#"><li>Info</li></a>
                        <a href="#"><li>Contact</li></a>
                        <a href="{% url 'logout' %}"><li>Logout</li></a>

                    </ul>
                </div>
            </div>
          {% else %}
            <div class="signin-container">

                <div class="signin">
                    <i id="far" class="far fa-user-circle"></i>
                    <a href="{% url 'login' %}">Sign in</a>
                </div>

                <div class="menuToggle">
                    <input type="checkbox" />

                    <span></span>
                    <span></span>
                    <span></span>

                    <ul class="menu">
                        <a href="#"><li>About</li></a>
                        <a href="#"><li>Info</li></a>
                        <a href="#"><li>Contact</li></a>
                        <a href="{% url 'register' %}"><li>Register</li></a>
                        <a href="{% url 'login' %}"><li>Login</li></a>
                    </ul>
                </div>
            </div>

          {% endif %}
		  </nav>
        </div>
    </div>

    <!-- content -->
    <div class="content">
      {% block content %}
      {% endblock content %}
    </div>

  </body>

  <footer>

    <div class="footer-box">
    <p>Project by:</p>
    <p>Martin 
      <a href="https://www.github.com/fezzzle">
        <i class="fab fa-github"></i>
      </a> 
      & Rauno 
      <a href="https://www.github.com/Krauno">
        <i class="fab fa-github"></i>
      </a>
      </p>
    </div>
  </footer>
</html>