{% extends "auction/base.html" %}
{% load static %}

{% block content%}
<div class="auction-container">
        <div class="category">
            <div class="category-container">
                {% for category in categories %}
                <div>
                <a href="{% url 'auction:category' category|lower %}" class="category-link">
                    <div class="boxx">{{ category }}</div>
                </a>
                </div>
                {% endfor %}
            </div>
    </div>

    <div class="placeholder">
        <h2>Discover:</h2>
        <div class="auction-grid">
            {% for auction in active_auctions %}
                {% if auction.is_active %}
                    <a href="{% url 'auction:detail' auction.id %}">
                        <div class="img-container-background" style="background-image:url('{% static auction.get_first_image.image %}')">
                            <div class="img-overlay">
                                <div class="img-text">
                                    <p>Product: {{auction.title}}</p>
                                    <p>Seller: {{auction.author}}</p>
                                    <p>ID: {{auction.id}}</p>
                                    <p>price: {{auction.min_value}}€</p>
                                    <p>Category: {{auction.item_category}}</p>
                                    {% if auction.buy_now %}
                                        <p>Buy now: {{auction.buy_now}}</p>
                                    {% endif %}
                                    {% if auction.is_active %}
                                        <p>{% widthratio auction.seconds_remaining 60 1 %} minutes left</p>
                                        <!--Time remaining {{auction.seconds_remaining|floatformat:"0"}}-->
                                    {% else %}
                                        <p>Auction has ended!</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}
                {% empty %}
                <p>There are currently no auctions!</p>
            {% endfor %}
        </div>


        <h2>Last added:</h2>
        <div class="auction-grid">
            {% for auction in last_added %}
                {% if auction.is_active %}
                    <a href="{% url 'auction:detail' auction.id %}">
                        <div class="img-container-background" style="background-image:url('{% static auction.get_first_image.image %}')">
                            <div class="img-overlay">
                                <div class="img-text">
                                    <p>Product: {{auction.title}}</p>
                                    <p>ID: {{auction.id}}</p>
                                    <p>price: {{auction.min_value}}€</p>
                                    <p>Category: {{auction.item_category}}</p>
                                    {% if auction.buy_now %}
                                        <p>Buy now: {{auction.buy_now}}</p>
                                    {% endif %}
                                    {% if auction.is_active %}
                                        <p>{% widthratio auction.seconds_remaining 60 1 %} minutes left</p>
                                    {% else %}
                                        <p>Auction has ended!</p>
                                    {% endif %}
                                    <p>Seller: {{auction.author}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% empty %}
                <p>There are currently no auctions!</p>
            {% endfor %}
        </div>


        <h2>Ending soon:</h2>
        <div class="auction-grid">
            {% for auction in ending_soon %}
                {% if auction.is_active %}
                    <a href="{% url 'auction:detail' auction.id %}">
                        <div class="img-container-background" style="background-image:url('{% static auction.get_first_image.image %}')">
                            <div class="img-overlay">
                                <div class="img-text">
                                    <p>Product: {{auction.title}}</p>
                                    <p>Seller: {{auction.author}}</p>
                                    <p>ID: {{auction.id}}</p>
                                    <p>price: {{auction.min_value}}€</p>
                                    <p>Category: {{auction.item_category}}</p>
                                    {% if auction.buy_now %}
                                        <p>Buy now: {{auction.buy_now}}</p>
                                    {% endif %}
                                    {% if auction.is_active %}
                                        <p>{% widthratio auction.seconds_remaining 60 1 %} minutes left</p>
                                        <!--Time remaining {{auction.seconds_remaining|floatformat:"0"}}-->
                                    {% else %}
                                        <p>Auction has ended!</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% empty %}
                <p>There are currently no auctions!</p>
            {% endfor %}
        </div>


        <h2>Auctions ended:</h2>
        <div class="auction-grid">
            {% for auction in ended %}
                {% if not auction.is_active %}
                    <a href="{% url 'auction:detail' auction.id %}">
                        <div class="img-container-background" style="background-image:url('{% static auction.get_first_image.image %}')">
                            <div class="img-overlay">
                                <div class="img-text">
                                    <p>Product: {{auction.title}}</p>
                                    <p>Seller: {{auction.author}}</p>
                                    <p>ID: {{auction.id}}</p>
                                    <p>price: {{auction.min_value}}€</p>
                                    <p>Category: {{auction.item_category}}</p>
                                    {% if auction.is_active %}
                                        <p>{% widthratio auction.seconds_remaining 60 1 %} minutes left</p>
                                        <!--Time remaining {{auction.seconds_remaining|floatformat:"0"}}-->
                                    {% else %}
                                        <p>Auction has ended!</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}