{% extends "auction/base.html" %}

{% block content %}
<h1>Create an auction</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="{% url 'auction:create' %}" method="POST" enctype="multipart/form-data">
        <!-- {% if error_message %}<p class="error"><strong>{{ error_message }}</strong></p>{% endif %} -->
        {% csrf_token %}
        <label for="title">Title</label>
        <br>
        <input type="text" name="title" placeholder="teretere">
        <br>
        <br>
        <label for="description">Descripton of the auction</label>
        <br>
        <input type="text" name="description" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in tortor ut nisi eleifend elementum id quis enim. Quisque eu dolor dictum neque venenatis eleifend in id sem. Maecenas in fermentum erat, at mattis turpis. Aliquam erat volutpat. Donec rutrum scelerisque orci. Proin lacinia erat sed magna sodales, sit amet aliquam lorem dignissim. Donec euismod non massa eget pellentesque. Nullam ultricies condimentum tempus. Nunc sit amet dui scelerisque, mattis felis a, molestie magna. Vivamus aliquam mi et sem finibus volutpat. Integer quis pulvinar ex. Quisque et ligula ac magna hendrerit vestibulum eget eget nibh. Nullam aliquam magna nibh, ac vehicula ligula aliquam at. Mauris vitae augue eu lacus facilisis convallis.">
        <br>
        <br>
        <label for="duration">Total auction duration</label>
        <br>
        <input type="number" name="duration" id="" max="100">
        <br>
        <br>
        <label for="min_value">Starting value of the bidding</label>
        <br>
        <input type="number" name="min_value">
        <br>
        <br>
        <label for="buy_now">Set buy now?</label>
        <br>
        <input type="number" name="buy_now" value="0">
        <br>
        <br>
        <div id="images">
            <input type="file" name="file[]">
        </div>
        <br>
        <input type="button" name="add_image" id="add_image" value="Add Image">
        <br>
        <br>
        <br>
        <input type="submit" class="submit_button" name="submit_button" value="Create">
    </form>

<script>
    document.getElementById("add_image").onclick = function(e) {
        let image = document.getElementById("images");
        let newInput = document.createElement("input");
        newInput.type = "file";
        newInput.name = "file[]";
        image.appendChild(newInput)
    }
</script>
{% endblock content %}