{% extends "auction/base.html" %}

{% block content %}
<h1>Create an auction</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="{% url 'auction:create' %}" method="POST" enctype="multipart/form-data">
        <!-- {% if error_message %}<p class="error"><strong>{{ error_message }}</strong></p>{% endif %} -->
        {% csrf_token %}
        <label for="title">Title</label>
        <br>
        <input type="text" name="title">
        <br>
        <br>
        <label for="description">Descripton of the auction</label>
        <br>
        <input type="text" name="description">
        <br>
        <br>
        <label for="duration">Total auction duration</label>
        <br>
        <input type="number" name="duration" id="" max="100">
        <br>
        <br>
        <label for="min_value">Starting value of the bidding</label>
        <br>
        <input type="number" name="min_value">
        <br>
        <br>
        <label for="buy_now">Set buy now?</label>
        <br>
        <input type="number" name="buy_now" value="0">
        <br>
        <br>
        <div id="images">
            <input type="file" name="file[]">
        </div>
        <br>
        <input type="button" name="add_image" id="add_image" value="Add Image">
        <br>
        <br>
        <br>
        <input type="submit" class="submit_button" name="submit_button" value="Create">
    </form>

<script>
    document.getElementById("add_image").onclick = function(e) {
        let image = document.getElementById("images");
        let newInput = document.createElement("input");
        newInput.type = "file";
        newInput.name = "file[]";
        image.appendChild(newInput)
    }
</script>
{% endblock content %}