{% extends "auction/base.html" %}
    
{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>Title: {{ auction.title }}</p>
    <p>Author: {{ auction.author }}</p>
    {% if bid %}
        <p>Highest bid: {{ bid }}</p>
    {% endif %}

    <p>Description: {{ auction.description }}</p>
    <p>Starting from: {{ auction.min_value }}</p>
    <p>Expires at: {{ auction.expire }}</p>
    <p>Page visits {{ auction.visits }}</p>
    <p id="clock"></p>
    

    {{ json_ctx|json_script:"json_ctx" }}

    {% if not own_auction %}
        {% if auction.is_active %}
            <form action="{% url 'auction:bid' auction.id %}" method="POST">
                {% csrf_token %}
                {% if error_message %}<p>{{ error_message }}</p>{% endif %}
                {% if bid %}
                    <input type="number" name="amount" id="bid_amount" value="{{ bid|add:'1' }}" required>
                {% else %}
                    <input type="number" name="amount" id="bid_amount" value="{{ auction.min_value|add:1 }}" required>
                {% endif %}
                <input type="submit" name="submit_bid">
            </form>
        {% endif %}
    {% else %}
        <input type="submit" name="cancel_auction" value="Cancel">
    {% endif %}

    <script>
        // HAHA JS
        let jsonCtx = JSON.parse(JSON.parse(document.getElementById('json_ctx').textContent));

//         (function foo() {
//     ...
//          setTimeout(foo, delay);
//      })();

        (function countdownTimeStart(){
            
            var auctionEndStamp = jsonCtx['auction_end_stamp'];

            // Get todays date and time, convert to string, get only 10 digits
            var now = new Date().getTime();
            
            // Find the distance between now an the count down date
            var distance = auctionEndStamp - now;
            
            // Time calculations for days, hours, minutes and seconds
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
            // Output the result in an element with id="demo"
            document.getElementById("clock").innerHTML = hours + "h "
            + minutes + "m " + seconds + "s ";
            
            // If the count down is over, write some text 
            if (distance < 0) {
                document.getElementById("clock").innerHTML = "EXPIRED";
            }
            setTimeout(countdownTimeStart, 1000);
        })();
    </script>
    {% if auction.final_value %}
        <p>Winning value: {{ auction.final_value }}</p>
        <p>Auction winner: {{ auction.winner }}</p>
    {% endif %}
{% endblock content%}