{% extends "auction/base.html" %}
{% load static%}

{% block content %}

<div class="detail-container">
    <div class="error-box">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="detail-pic-container">

        <div class="detail-pic-main">
            <!-- <img src="{% static auction.image %}" height="auto" width="500px" alt="image"> -->
            <img id="expandedImg" height="auto" width="500px">
        </div>

        <div class="detail-pic-row">
            <div class="left-to-right">
                {% for img in images %}
                <img src="{% static img.image %}" id="sml_img" height="auto" width="150px" onclick="myFunction(this);">
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="detail-info-container">

        <p>Product: {{ auction.title }}</p>
        <p>Seller: {{ auction.author }}</p>
        <p>Description: {{ auction.description }}</p>
        <p>Starting from: {{ auction.min_value }}</p>

        {% if auction.is_active %}
            <p>Expires at: {{ auction.expire }}</p>
            <p id="clock"></p>
        {% endif %}

        {% if auction.buy_now %}
            <p>Buy now: {{ auction.buy_now }}</p>
        {% endif %}

        {% if auction.final_value %}
            <p>Winning value: {{ auction.final_value }}</p>
            <p>Auction winner: {{ auction.winner }}</p>
        {% endif %}
        <p>Highest total bid: {{ auction.active_bid_value}}</p>

        {{ json_ctx|json_script:"json_ctx" }}

        {% if not own_auction %}
            {% if bid %}
                <p>Your bid: {{ bid }}</p>
            {% endif %}
            {% if auction.is_active %}
            <form action="{% url 'auction:bid' auction.id %}" method="POST">
            {% csrf_token %}
            {% if error_message %}<p>{{ error_message }}</p>{% endif %}
            {% if not auction.min_value == auction.buy_now %}
                {% if auction.buy_now %}
                    {% if auction.active_bid_value %}
                        <p>TERE ON ACTIVE BID VALUE</p>
                        <input type="number" name="amount" id="bid_amount" value="{{ auction.min_value|add:'1' }}" required>
                        <input type="submit" name="submit_bid" value="Submit Bid">
                        <input type="submit" name="buy_now" value="Buy now!">
                    {% else %}
                        <p>TERE EI OLE ACTIVE BID VALUE</p>
                        <input type="number" name="amount" id="bid_amount" value="{{ auction.active_bid_value|add:'1' }}" required>
                        <input type="submit" name="submit_bid" value="Submit Bid">
                        <input type="submit" name="buy_now" value="Buy now!">
                    {% endif %}
                {% endif %}
            {% else %}
                <input type="hidden" name="amount" value="{{ auction.buy_now }}" required>
                <input type="submit" name="buy_now" value="Buy now!">
            {% endif %}
            </form>
        {% else %}
            <h1>AUCTION IS NOT ACTIVE</h1>
        {% endif %}

        {% else %}
            {% if not bid %}
                {% if auction.is_active %}
                    <form action="{% url 'auction:detail' auction.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" name="cancel_auction" value="Cancel">
                    </form>
                    <h1>AUCTION IS ACTIVE</h1>
                {% else %}
                    <h1>AUCTION IS NOT ACTIVE</h1>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>

    <script>

        let getImgSrc = document.getElementById("sml_img")
        myFunction(getImgSrc)
        let jsonCtx = JSON.parse(JSON.parse(document.getElementById('json_ctx').textContent));

        (function countdownTimeStart(){
            
            var auctionEndStamp = jsonCtx['auction_end_stamp'];

            // Get todays date and time, convert to string, get only 10 digits
            var now = new Date().getTime();
            
            // Find the distance between now an the count down date
            var distance = auctionEndStamp - now;
            
            // Time calculations for days, hours, minutes and seconds
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
            // Output the result in an element with id="demo"
            document.getElementById("clock").innerHTML = hours + "h "
            + minutes + "m " + seconds + "s ";
            
            // If the count down is over, write some text 
            if (distance < 0) {
                document.getElementById("clock").innerHTML = "EXPIRED";
            }
            setTimeout(countdownTimeStart, 1000);

        })();

        // IMG CONTAINER

        function myFunction(imgs) {
            // Get the expanded image
            var expandImg = document.getElementById("expandedImg");

            // Use the same src in the expanded image as the image being clicked on from the grid
            expandImg.src = imgs.src;

            // Show the container element (hidden with CSS)
            expandImg.parentElement.style.display = "block";
        }

    </script>
{% endblock content%}