{% extends "auction/base.html" %}
{% block content%}
    <div class="">
        <div class="category">
            <div class="category-text">
            <h2>*Insert fäänsi bänner*</h2>
            <a href="#">category a</a>
            <a href="#">category b</a>
            <a href="#">category c</a>
            <a href="#">category d</a>
            </div>
        </div>
        <div class="news-container">
            <div class="new">
                <h1>Last added</h1>
                {% for i in auctions_list %}
                    {{ i.title }} | Category <br>
                {% endfor %}
            </div>

            <div class="old">
                <h1>Ending auctions</h1>
                {% for j in auctions_list %}
                    {{ j.title }} | Category | Expire time<br>
                {% endfor %}
            </div>
        </div>
    </div>

<!-- TEST AUCTIONS! -->
    <div class="">
        {% if auctions_list %}
        <div class="auction-details">
        {% for auction in auctions_list %}
            <div class="auction-detail">

                <a href="{% url 'auction:detail' auction.id %}">
                <div class="pilt">
                <img src="{{ pic }}">
                </div>
                <div class="pilt-info">
                <li>Author: {{auction.author}}</li>
                <li>Title: {{auction.title}}</li>
                <li>Description: {{auction.description}}</li>
                <li>Auction starting value: {{auction.min_value}}</li>
                <li>Auction duration {{auction.total_auction_duration}}</li>
                {% if auction.is_active %}
                    <li>{% widthratio auction.seconds_remaining 60 1 %} minutes left</li>
                    <!-- <li>Time remaining {{auction.seconds_remaining|floatformat:"0"}}</li> -->
                {% else %}
                    <p>Auction has ended!</p>
                {% endif %}
                </div>
            </a>
            </div>
<!--        <br>-->
        {% endfor %}
        </div>
    {% else %}
        <h1>There are no auctions available</h1>
    {% endif %}
    </div>

    <!-- DEBUG ZONE -->
    <div class="debug">
        <p>Debug section</p>
        <h1>USER LOGGED IN: {{ user }}</h1>
        <h2>USER IS SUPERUSER: {{ user.is_superuser }}</h2>
        <a href="{% url 'auction:create' %}">
            <input type="button" name="create" id="" value="Create an auction">
        </a>
        <a href="{% url 'auction:auctions' %}">
            <input type="button" name="auctions" id="" value="All auctions">
        </a>
        <a href="{% url 'auction:delete_auctions' %}">
            <input type="button" name="delete_auctions" id="" value="Delete All auctions">
        </a>
        <a href="{% url 'auction:my_auctions' %}">
            <input type="button" name="my_auctions" id="" value="See your auctions">
        </a>
    </div>

{% endblock content %}