{% extends "auction/base.html" %}

{% block content%}
    <h1>USER LOGGED IN: {{ user }}</h1>
    <h2>USER IS SUPERUSER: {{ user.is_superuser }}</h2>
    <a href="{% url 'auction:create' %}">
        <input type="button" name="create" id="" value="Create an auction">
    </a>
    <a href="{% url 'auction:auctions' %}">
        <input type="button" name="auctions" id="" value="All auctions">
    </a>
    <a href="{% url 'auction:delete_auctions' %}">
        <input type="button" name="delete_auctions" id="" value="Delete All auctions">
    </a>
    <a href="{% url 'auction:my_auctions' %}">
        <input type="button" name="my_auctions" id="" value="See your auctions">
    </a>
    
{% endblock content %}