{% extends "auction/base.html" %}
    
{% block content %}
    {% if my_auctions %}
    {% for auction in my_auctions %}
        <ul class="auction-list-items">
        <a href="{% url 'auction:detail' auction.id %}">
            <h2><li>{{ auction.title }}</li></h2>
            <p><li>{{ auction.description }}</li></p>
            <li><p>{{auction.item_category}}</p></li>
            {% if auction.is_active %}
            <p><li>{% widthratio auction.seconds_remaining 60 1 %} minutes left</li></p>
            {% else %}
                <p><li>Final value: {{ auction.final_value }}</li></p>
                <p><li>Winner: {{ auction.winner }}</li></p>
                <p><li>Auction has ended!</li></p>
            {% endif %}
        </a>
        </ul>
        {% endfor %}
    {% else %}
        <h1>You dont have any auctions!</h1>
    {% endif%}
{% endblock content%}