{% extends "auction/base.html" %}
{% block content %} 


{% if user.is_authenticated %}
{% csrf_token %}
    <form action="{% url 'auction:profile' %}" method="POST" enctype="multipart/form-data" class="form-style">

        {% if messages %}
        <ul class="messages">
           {% for message in messages %}
           <li class="{{ message.tags }}">{{ message }}</li>
           {% endfor %}
        </ul>
        {% endif %}
        <div>
        <p>Username: {{ user.username }}</p>

        <small>Date joined: {{ user.date_joined|date }}</small>
        <small>Last login: {{ user.last_login|date:"d.m.Y H:i:s" }} UTC </small>
        </div>

        <div class="">
            <p>User email: {{ user.email }}</p>
            <input type="checkbox" class="toggle" id="toggle">
            <label for="toggle" class="toggle-label"><small>Change email:</small></label>
            <div class="toggle-input">
                <input type="email" name="email" placeholder="hello@hello.com">
            </div>
        </div>

        <div class="">
            <p>Fullname: {{ user.first_name }} {{ user.last_name }}</p>
            <input type="checkbox" class="toggle" id="name">
            <label for="name" class="toggle-label"><small>Change your name</small></label>
            <div class="toggle-input">
                <input type="text" name="first-name" placeholder="First name">
                <input type="text" name="last-name" placeholder="Last name">
            </div>
        </div>

        <div class="">
            <p>Location: {{ user.location }}</p>
            <input type="checkbox" class="toggle" id="location">
            <label for="location" class="toggle-label"><small>Change Location:</small></label>
            <div class="toggle-input">
                <input type="text" name="location" placeholder="New location">
            </div>
        </div>

        <div>
            <p>Phone: {{ user.phone }}</p>
            <input type="checkbox" class="toggle" id="email">
            <label for="email" class="toggle-label"><small>Change Phone Number:</small></label>
            <div class="toggle-input">
                <input type="number" name="phone" placeholder="+372-530000321">
            </div>
        </div>

        <div>
            <input type="checkbox" class="toggle" id="user_password">
            <label for="user_password" class="toggle-label">Change password</label>
            <div class="toggle-input">
                <input type="password" name="user_password1" placeholder="Password">
                <input type="password" name="user_password2" placeholder="Confirm Password">
            </div>
        </div>

        <div class="toggle-input">
            <button type="submit" class="form-button" name="password_change">Update Profile</button>
        </div>
    </form>
{% endif %}


{% endblock content %}