{% extends "auction/base.html" %}
{% block content %} 
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<p>Username: {{ user.username }}</p>
<p>User.id: {{ user.id }}</p>
<p>User email: {{ user.email }}</p>
<p>Phone: {{ user.phone }}</p>
<p>Location: {{ user.location }}</p>
{% if user.is_authenticated %}
    <form action="{% url 'auction:profile' %}" method="POST" enctype="multipart/form-data" class="form-style">
        {% csrf_token %}
        <label for="location">Change Location: </label>
        <input type="text" name="location" placeholder="Your location">
        <label for="email">Change email: </label>
        <input type="email" name="email" placeholder="hello@hello.com">
        <label for="email">Change Phone Number: </label>
        <input type="number" name="phone" placeholder="530000321">
        <label for="user_password">Change password:</label>
        <input type="password" name="user_password1" placeholder="Password">
        <input type="password" name="user_password2" placeholder="Confirm password">
        <input type="submit" class="form-button" name="password_change" value="Update Profile">
    </form>
{% endif %}


{% endblock content %}