{% extends "auction/base.html" %}
{% load static %}
{% block content %} 

<p>Email: {{ user.email }}</p>
<p>Username: {{ user.username }}</p>
<p>User.id: {{ user.id }}</p>
<p>Phone: {{ user.phone }}</p>
<p>Location: {{ user.location }}</p>
<p>Phone: {{ user.date_joined }}</p>
<p>Last login: {{ user.last_login|date:"d.m.Y H:i:s" }} UTC </p>


<div class="auction-container">
    <h3>User's auctions: <h3>
    <div class="auction-grid">
        {% for auction in user_auctions %}
                <a href="{% url 'auction:detail' auction.id %}">
                    <div class="img-container-background" style="background-image:url('{% static auction.get_first_image.image %}')">
                        <div class="img-overlay">
                            <div class="img-text">
                                <p>Product: {{auction.title}}</p>
                                <p>ID: {{auction.id}}</p>
                                <p>price: {{auction.min_value}}€</p>
                                {% if auction.is_active %}
                                    <p>{% widthratio auction.seconds_remaining 60 1 %} minutes left</p>
                                {% else %}
                                    <p>Auction has ended!</p>
                                {% endif %}
                                <p>Seller: {{auction.author}}</p>
                            </div>
                        </div>
                    </div>
                </a>
           </div>
        {% endfor %}
{% endblock content %}